# Local dev (SQLite)
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Production (Postgres) - uncomment and fill
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=travelweb
# DB_USER=travelweb
# DB_PASSWORD=change_me
# DB_HOST=127.0.0.1
# DB_PORT=5432

# CORS (set to 0 in prod and specify allowed origins instead)
CORS_ALLOW_ALL_ORIGINS=1
