# Default DB: PostgreSQL
DB_ENGINE=django.db.backends.postgresql
DB_NAME=travelweb
DB_USER=postgres
DB_PASSWORD=123
DB_HOST=127.0.0.1
DB_PORT=5432
DB_CONN_MAX_AGE=60

# Optional SQLite fallback (explicit opt-in)
# DB_ENGINE=django.db.backends.sqlite3
# DB_NAME=db.sqlite3

# CORS (set to 0 in prod and specify allowed origins instead)
CORS_ALLOW_ALL_ORIGINS=1

AI_PROVIDER=gemini
GEMINI_API_KEY=AIzaSyCBxRdXIcugy1BXlbodMqCReLqxJky1qak